# ======================
# Frontend (Node)
# ======================
node_modules/
dist/
build/

# ======================
# Python Virtual Env
# ======================
venv/
.venv/
env/
ENV/

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment Variables
# ======================
.env
backend/.env

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
